<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rest-Api Sangrama</title>
    <meta name="description" content="Rest Api website">
    <meta name="author" content="Sangrama">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/vendor.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <script src="/js/modernizr.js"></script>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">

    <style>
        body {
            background-image: url('images/bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }

        /* Add any additional styling here */
    </style>
</head>

<body id="top">

    <section id="home">
        <div class="overlay"></div>
        <div class="home-content">
            <div class="row contents">
                <div class="home-content-left">
                    <h3>Assalamualaikum,</h3>
                    <h1>
                        Selamat Datang Di Rest API Sangrama
                    </h1>
                    <div class="buttons" data-aos="fade-up">
                        <a href="/login" class="button stroke">
                            <span><i class="fas fa-folder"></i></span>
                            Ke Halaman Login
                        </a>
                        <a href="https://www.instagram.com/infection.world/" class="button stroke" target="__blank">
                            <span><i class="fas fa-code"></i></span>
                            Owner
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <ul class="home-social-list">
            <li>
                <a href="https://www.instagram.com/infection.world/" target="__blank"><i class="fab fa-instagram fa-lg"></i></a>
            </li>
            <li>
                <a href="https://www.facebook.com/SangramaPanca.Sadewa" target="__blank"><i class="fab fa-facebook fa-lg"></i></a>
            </li>
            <li>
                <a href="https://sangramapancasadewa.github.io/" target="__blank"><i class="fas fa-link fa-lg"></i></a>
            </li>
        </ul>
        <div class="home-scrolldown">
            <a href="#testimonials" class="scroll-icon smoothscroll">
                <span>Scroll</span>
                <i class="icon-arrow-right" aria-hidden="true"></i>
            </a>
        </div>
    </section>
    
    <audio autoplay loop>
        <source src="https://j.top4top.io/m_2895dbbwm0.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>

    <footer>
        <div class="footer-bottom">
            <div class="row">
                <div class="col-twelve">
                    <div class="copyright">
                        <span><a href="https:wa.me/6288988326132">2023 ©️Xyugarbot - All Rights Reserved</a></span>
                    </div>
                    <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>
    <script src="/js/jquery-2.1.3.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>